.cart{
    .cart-img{
        height: 110px;
        min-width: 110px;
        background-position: center center;
        background-size: cover;
    }
    .cart-img-sm{
        height: 80px;
    }
    .cart-width{
        width: 168px;
    }
    .cart-button-right{
        border-right: 0px;
        padding: 12px 20px;
    }
    .cart-button-left{
        border-left: 0px;
        padding: 12px 20px;
    }
    .cart-input-border{
        border: 1px solid #6c757d;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .order-msg{
        
        @include media-breakpoint-up(md){
            background-color: $primary;
            color: white;        
        }
    }
    .order-msg-title{
        @include media-breakpoint-down(md){
            background-color: $primary;
            color: white;
        }
    }
    .order-btn{
        color: $primary;
        border-radius: 0px;
    }
}